body {
    background-color: rgb(219, 179, 230);
    background-image: url("img/SERRARIA07.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* Mantém a imagem fixa durante a rolagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
}

header{
    background-color:rgb(22, 21, 22);
    border: 2px;
    color: beige;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
.videos {
    padding-bottom: 35px;
    padding-top: 35px;
    gap: 10px;
    opacity: 0.5;
}

.videos:hover{
    opacity: 1.0;
}
.fotos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.fotos img {
    opacity: 0.5;
    transition: transform 0.3s ease;
    padding: 2px;
    width: 100px;
    height: 100px;
}

.fotos img:hover {
    opacity: 1.0;
    transform: scale(1.05);
}

.logo img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}
    
.logo img:hover {
    transform: scale(1.5);
}